@mixin btn__card {
  transition: transform 0.8s ease;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}
.card__publication {
  position: relative;
  width: 600px;
  // min-height: 400px;
  border: 1px solid rgb(87, 87, 87);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  margin: 30px 0;
  background: #333333;
}

.card__avatar {
  width: 50px;
  height: 50px;
}

.card__title__publication {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  // width: 95%;
  height: 50px;
  background: #444;
}

.card__content__publication {
  width: 100%;
  height: 100%;
  overflow: hidden;
  .image__card {
    width: 100%;
    // height: 300px;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
    transition: transform 0.5s ease;
    &:hover{
      transform: scale(1.1);
    }
  }
}

.card__bar__icons i {
  color: #fff;
}

.card__comment {
  // height: 80px;
  // background: rgb(41, 85, 167);
  background:#6692ea;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
  .content__description{
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
  }
  h2{
    padding-left: 10px;
    color: #fff;
    font-weight: 700;
  }
  .content__icons__card {
    display: flex;
    gap: 10px;
    
  }
  .card__bar__icons {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 20px;
    i {
        @include btn__card;
      }
  }
  .comments__content {
    height: 40px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    i {
      font-size: 20px;
      color: #fff;
      padding-right: 10px;
    }
    input {
      flex: 1;
      padding: 10px;
    }
    button {
      margin-left: 10px;
      padding: 10px 20px;
      background: rgb(66, 101, 255);
      color: #fff;
      border: none;
      border: 2px solid transparent;
      transition: all .5s ease;
      &:hover {
          cursor: pointer;
        background: #fff;
        color: rgb(66, 101, 255);
        border: 2px solid rgb(66, 101, 255);
      }
    }
  }
}

@media screen and (max-width:700px) {
  .card__publication {
    width:90%;
  }
  .card__comment{
    .comments__content {
      height: auto;
      flex-wrap: wrap;
      button{
        margin-top: 10px;
        width: 100%;
      }
    }
  }
}