.container__publications{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}
.btn__top{
    position: fixed;
    right: 20px;
    bottom: 20px;
    background: rgba(51, 51, 51, 0.657);
    padding: 10px;
    color: #fff;
    &:hover{
        background: #333;
        cursor: pointer;
    }
}

@media screen and (max-width: 700px) {
    .btn__top{
        bottom: 55px;
    }
  }